--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.1+cu113
torchvision==0.13.1+cu113
-e ./fairseq/
opencv-python==4.6.0.66
timm==0.6.11
ftfy==6.0.3
tensorboardX==2.4.1
pycocotools==2.0.7
pycocoevalcap==1.2
pytorch-lightning==1.8.4
einops==0.6.0
datasets==2.7.1
rouge-score==0.1.2
python-Levenshtein==0.21.1
zhconv==1.4.3
protobuf==3.20.0
seaborn==0.13.0